p {
    color: rgb(255, 25, 0);
    font-size: xx-large;
}

body {
    background-color: rgb(209, 127, 20);
}

h4 {
  color:#ffffff
}

footer {
    color: aqua;
}

header {
    background: rgb#fff;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden; 
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #ffffff;
  }

  body {
    background-image: url("");
    background-repeat: no-repeat, repeat; background-size: 50%;
    }

    .footerContent {
      position: fixed;
      left: 10px;
      bottom: 5px;
      right: 10px;
      width: 95%;
      background-color: rgba(255, 255, 255, 0);
      color: white;
      text-align: center;
  }
  body {
      height: 100vh;
      display: grid;
      /* place-items: center; */
    }
    .slider {
      width: 100%;
      max-width: 800px;
      height: 350px;
      position: relative;
      /* overflow: hidden; */
    }
    .slide {
      width: 100%;
      max-width: 800px;
      height: 350px;
      position: absolute;
      transition: all 0.5s;
    }
    .slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .btn {
      position: absolute;
      width: 40px;
      height: 40px;
      padding: 10px;
      border: none;
      border-radius: 50%;
      z-index: 10px;
      cursor: pointer;
      background-color: #fff;
      font-size: 18px;
    }
    .btn:active {
      transform: scale(1.1);
    }
    .btn-prev {
      top: 45%;
      left: 2%;
    }
    .btn-next {
      top: 45%;
      right: 2%;
    }

    .slider {
      width: 100%;
      max-width: 800px;
      height: 350px;
      position: relative;
      overflow: hidden;  /* <===  */
      border-radius: 15px;
    }

    form {
     color: #fff;
    }

    .button {
      border: none;
      color: rgb(0, 0, 0);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }